// fonts

$primary-font: sans-serif;

$tabs-btn-number: 5;

$tabs-btn-height-S: 60px;
$tabs-btn-width-S: 60px;

$tabs-btn-height-M: 80px;
$tabs-btn-width-M: 80px;

$tabs-btn-height-L: 80px;
$tabs-btn-width-L: 80px;